.card {
	font-size: 125%;
	white-space: nowrap;
	box-sizing: border-box;
	padding: 2px;
	height: var(--card-height);
	border: 1px solid var(--black);
	border-radius: var(--radius);

	--shadow: 0 0 var(--space) rgba(0, 0, 0, 0.5);
}

.card:last-child {
	margin: 0;
	flex-shrink: 0;
}

.connected {
	border-top: none;
	padding-top: 3px;
}

.up {
	background-color: var(--card-face);
	margin-bottom: var(--card-overlap);
	box-shadow: var(--shadow);
	cursor: pointer;
	flex-shrink: 9;

	display: grid;
	grid-template-rows: auto 1fr;

	background-position: center 1.33em;
	background-size: 100%;
	background-repeat: no-repeat;
}

.down {
	background-color: var(--card-back);
	margin-bottom: var(--down-overlap);
	flex-shrink: 1;
}

.placeholder {
	margin-bottom: calc(-1 * var(--card-height));
	flex-shrink: 0;
	box-shadow: none;
}

.squeeze {
	letter-spacing: -0.15em;
	padding-left: 1px;
	padding-right: 1px;
}

.symbol {
	font-size: var(--suit-ratio);
	letter-spacing: 0;
}

.symbol svg {
	padding-top: 4px;
}

.suit-s {
	color: var(--spades);
}

.suit-h {
	color: var(--hearts);
}

.suit-d {
	color: var(--diams);
}

.suit-c {
	color: var(--clubs);
}
