.plain {
	appearance: none;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

.button {
	background-color: var(--card-face);
	border: 1px solid transparent;
	border-radius: 0.5em;

	box-sizing: border-box;
	padding: 0.25em 0.5em;
	gap: 0.25em;

	cursor: pointer;
}

.button:active:not(:disabled) {
	opacity: 0.9;
}

.button:disabled {
	opacity: var(--fade);
	cursor: default;
}

.accent.outlined {
	color: var(--accent);
}

.accent:not(.outlined) {
	background-color: var(--accent);
	color: white;
}

.accent:not(.outlined).blue {
	background-color: var(--blue);
}

.big {
	font-size: 125%;
}

.blue.outlined {
	color: var(--blue);
}

.mini {
	font-size: 75%;
	padding: 0.25em;
	border-radius: 9999px;
}

.outlined {
	border-color: currentColor;
}

.picker {
	width: fit-content;
	background-color: var(--accent);
	border-radius: 9999px;
	padding: 0.25em;
	gap: var(--ui-gap);
}

.modified {
	background-color: var(--blue);
}

.labeled {
	width: fit-content;
	flex-direction: column;
}

.labeled > :first-child {
	font-size: 75%;
	text-align: center;
	margin-bottom: 0.25em;
}

.select {
	border: none;
	text-align: center;
	cursor: pointer;
	background: inherit;
	color: white;
}

.select option {
	background-color: inherit;
}

.hidden {
	visibility: hidden;
}
