.button {
	appearance: none;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	font-weight: inherit;
}

.button {
	box-sizing: border-box;
	height: 1.5em;
	display: flex;
	align-items: center;
	gap: 0.5em;
	background-color: var(--card-face);
	border-radius: 0.5em;
	cursor: pointer;
}
