/* initial mode */
.layout {
	display: grid;
	grid-template-rows: auto 1fr;
	justify-content: center;
}

.layout {
	box-sizing: border-box;
	gap: var(--ui-gap);
	padding-bottom: var(--ui-gap);
}

.layout > :last-child {
	flex-grow: 1;
}

@supports (padding: max(0px)) {
	.layout {
		padding-right: max(0px, env(safe-area-inset-right));
		padding-bottom: max(var(--ui-gap), env(safe-area-inset-bottom));
	}
}
