.list {
	display: flex;
}

.tab {
	appearance: none;
	font-size: inherit;
	line-height: inherit;
	background: none;

	display: block;
	text-align: left;
	padding: var(--ui-gap);
	color: var(--black-alt);
	border: 1px solid var(--black-alt);
	border-top-width: 0;
	border-right-width: 0;
}

.tab:first-child {
	border-left-width: 0;
}

/* 
.tab:last-child {
	border-right: none;
	margin-right: 0;
} */

.tab[data-headlessui-state~=selected] {
	-flex-grow: 1;
	border-bottom-color: transparent;
	color: var(--black);
}

.tab svg {
	display: block;
}

.grow {
	flex-grow: 1;
}

.panels {
	position: relative;
	box-sizing: border-box;
	padding: 0 var(--ui-gap);
	overflow: hidden;
}

.panels, .panels * {
	touch-action: pan-y;
}

.panels::before, .panels::after {
	content: '';
	position: absolute;
	left: 0;
	height: var(--ui-gap);
	width: 100%;
}

.panels::before {
	top: 0;
	background-image: linear-gradient(to bottom, white, transparent);
}

.panels::after {
	bottom: 0;
	background-image: linear-gradient(to top, white, transparent);
}

.panels > div {
	box-sizing: border-box;
	padding: var(--ui-gap) 0;
	height: 100%;
	overflow: auto;
}
