.pile, .overlay {
	display: flex;
	flex-direction: column;
	width: var(--card-width);
}

.horizontal {
	flex-direction: row;

	/* cards have 125% font size */
	width: calc(var(--size, 1) * (var(--card-width) - 1.25em) + 1.25em);
}

.horizontal li {
	flex-shrink: 0;
	width: var(--card-width);
	margin-right: -1em;
}

.overlay li {
	flex-shrink: 0;
}
