.area {
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
}

.area, .area * {
	touch-action: pan-y;
}

.area::before, .area::after {
	content: '';
	position: absolute;
	left: 0;
	height: var(--ui-gap);
	width: 100%;
}

.area::before {
	top: 0;
	background-image: linear-gradient(to bottom, white, transparent);
}

.area::after {
	bottom: 0;
	background-image: linear-gradient(to top, white, transparent);
}

.area > div {
	box-sizing: border-box;
	padding: var(--ui-gap);
	height: 100%;
	overflow: auto;
}
