.stock {
	display: flex;
	flex-direction: row;
	cursor: pointer;
}

.stock li {
	width: var(--card-width);
	margin-right: var(--card-overlap);
}

.stock li:last-child {
	flex-shrink: 1;
}

.dots {
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding: var(--card-gap) 0;
}
