.zones {
	display: flex;
	justify-content: space-between;
	gap: var(--ui-gap);
}

.stack {
	flex-direction: column-reverse;
}

.zones > :first-child:last-child {
	flex-grow: 1;
}

.wasteland {
	display: flex;
}
