.card {
	box-sizing: border-box;
	padding: 2px;
	color: var(--card-text);
	border: 1px solid var(--card-text);
	background-color: var(--card-face);
	height: var(--card-height);
	border-radius: 4px;
	margin-bottom: var(--card-stack);
	cursor: default;
	overflow: hidden;
	box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.2), 0 -1px 2px rgba(0, 0, 0, 0.2);
	user-select: none;
	touch-action: none;
}

.card:last-child {
	margin-bottom: 0;
}

.available {
	cursor: pointer;
}

.connected {
	/* margin-top: -3px; */
	border-top-color: #ccc;
	box-shadow: none;
	/* border-top-left-radius: 0; */
	/* border-top-right-radius: 0; */
}

.down {
	background-color: var(--card-back);
	margin-bottom: var(--card-down);
	box-shadow: none;
}

.first {
	box-shadow: none;
}

.full {
	min-height: var(--card-height);
}

.highlighted {
	/* translate: -2px -2px; */
	/* transition: all 100ms ease-in-out; */
	/* box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5); */
	/* box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3); */
	/* box-shadow: 0 0 0 2px lightskyblue, 0 -2px 6px 3px rgba(0, 0, 0, 0.3); */
	box-shadow: 0 0 0 2px lightskyblue;
	border-top-color: var(--card-text);
}

.mini {
	height: var(--mini-height);
	width: var(--mini-width);
	font-size: var(--mini-size);
}

.suit {
	font-size: var(--suit-ratio);
	text-align: center;
}

.target {
	visibility: hidden;
	background-color: unset;
	border-width: 0;
	border-style: dashed;
	box-shadow: none;
}

.target.empty {
	border-width: 1px;
}

.target.highlighted, .target.empty {
	visibility: visible;
}

.target.highlighted {
	border-width: 3px;
	border-color: lightskyblue;
}
