.faces .jc {
	background-image: url(./svg-faces-cropped/jc.svg);
}

.faces .jd {
	background-image: url(./svg-faces-cropped/jd.svg);
}

.faces .jh {
	background-image: url(./svg-faces-cropped/jh.svg);
}

.faces .js {
	background-image: url(./svg-faces-cropped/js.svg);
}

.faces .qc {
	background-image: url(./svg-faces-cropped/qc.svg);
}

.faces .qd {
	background-image: url(./svg-faces-cropped/qd.svg);
}

.faces .qh {
	background-image: url(./svg-faces-cropped/qh.svg);
}

.faces .qs {
	background-image: url(./svg-faces-cropped/qs.svg);
}

.faces .kc {
	background-image: url(./svg-faces-cropped/kc.svg);
}

.faces .kd {
	background-image: url(./svg-faces-cropped/kd.svg);
}

.faces .kh {
	background-image: url(./svg-faces-cropped/kh.svg);
}

.faces .ks {
	background-image: url(./svg-faces-cropped/ks.svg);
}
