:root {
	--black-fi: grayscale(1);
	/* --red-fi: sepia(1) saturate(159%) hue-rotate(320deg) brightness(144%) contrast(240%); */
	/* --red-fi: sepia(1) saturate(3) hue-rotate(315deg) brightness(90%); */
	--red-fi: sepia(1) saturate(333%) hue-rotate(300deg) brightness(80%) contrast(120%);
	--orange-fi: sepia(1) saturate(250%) hue-rotate(318deg) brightness(90%);
	--yellow-fi: sepia(1) saturate(3) brightness(90%);
	--green-fi: sepia(1) saturate(250%) hue-rotate(65deg) brightness(80%);
	--blue-fi: sepia(1) saturate(3) hue-rotate(165deg);
}
