:root {
	font: 16px arial, sans-serif;
	line-height: 1;
	-webkit-text-size-adjust: 100%;

	--black: #333;
	--red: firebrick;

	--card-width: 44px;
	--card-height: 58px;
	--card-overlap: -33px;
	--down-overlap: -53px;
	--suit-ratio: 150%;
	--radius: 5px;
	--space: 0.125rem;
}

@media (min-width: 1024px) {
	:root {
		font-size: 20px;

		--card-width: 58px;
		--card-height: 77px;
		--card-overlap: -47px;
		--down-overlap: -70px;
		--radius: 6px;
	}
}

body {
	margin: 0;

	--card-back: aliceblue;
	--card-face: white;
	color: var(--black);
	background-color: linen;

	--spades: var(--black);
	--hearts: var(--red);
	--diams: var(--red);
	--clubs: var(--black);
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.no-touch {
	user-select: none;
	touch-action: none;
}

.viewport-height {
	height: 100vh;
	height: -webkit-fill-available;
}

.full-height {
	height: 100%;
}

.overflow-hidden {
	overflow: hidden;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fade {
	opacity: 0.4;
}
