:root {
	font: 16px arial, sans-serif;
	line-height: 1;
	-webkit-text-size-adjust: 100%;

	--black: #333;
	--red: firebrick;

	--card-width: 44px;
	--card-height: 58px;
	--card-overlap: -33px;
	--down-overlap: -53px;
	--suit-ratio: 150%;
	--radius: 5px;
	--space: 0.125rem;
	--gap: 0.125rem;
	
	--card-gap: 0.125rem;
	--ui-gap: 0.5rem;
}

@media (min-width: 1024px) {
	:root {
		font-size: 20px;

		--card-width: 58px;
		--card-height: 77px;
		--card-overlap: -47px;
		--down-overlap: -70px;
		--radius: 6px;
	}
}

* {
	user-select: none;
	touch-action: none;
}

body {
	margin: 0;
	color: var(--black);
	background-color: linen;

	--accent: var(--red);
	--card-face: white;
	--card-back: aliceblue;
	--fade: 0.4;

	--spades: var(--black);
	--hearts: var(--red);
	--diams: var(--red);
	--clubs: var(--black);
}

.four-color {
	--diams: salmon;
	--clubs: steelblue;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

textarea {
	font-size: inherit;
}