.app {
	display: grid;
	grid-template-rows: auto 1fr;
}

.controls {
	display: flex;
	justify-content: center;
	padding: 8px;
	background-color: var(--red);
}

.layout {
	display: grid;
	justify-content: center;
	grid-template-rows: auto 1fr;
	box-sizing: border-box;
}

@supports (padding: max(0px)) {
	.layout {
		padding-bottom: max(0px, env(safe-area-inset-bottom));
	}
}

.zones {
	display: flex;
}

.overlay div {
	flex-shrink: 0;
}
