.app {
	display: grid;
	grid-template-rows: auto 1fr;
}

.app h1 {
	text-align: center;
}

.red {
	padding: 8px;
	background-color: var(--red);
}

.layout {
	display: grid;
	justify-content: center;
	grid-template-rows: auto 1fr;
	box-sizing: border-box;
	padding-top: var(--space-xl);
	gap: var(--space-xl);
}

.zones {
	display: flex;
	padding: var(--space);
	gap: var(--space);
}

.space {
	flex-grow: 1;
}

.overlay div {
	flex-shrink: 0;
}
