.tableau {
	display: flex;
	justify-content: center;
	height: 100vh;
	height: -webkit-fill-available;
}

.col {
	width: 45px;
	margin: 2px;

	display: flex;
	flex-direction: column;
}

.card {
	box-sizing: border-box;
	padding: 2px;
	border: 1px solid black;
	background-color: white;
	/* min-width: 45px; */
	height: 64px;
	border-radius: 4px;
	margin-bottom: -44px;
	cursor: pointer;
	overflow: hidden;
}

.card:nth-child(2n) {
	/* border-top-style: dashed; */
}

.card:hover {
	background-color: pink;
}

.card:last-child, .card:nth-last-child(2), .down {
	min-height: 64px;
}

.card:last-child {
	margin-bottom: 0;
}

.down {
	background-color: #ddd;
	margin-bottom: -58px;
}

.red {
	color: firebrick;
}

.suit {
	font-size: 42px;
	line-height: 42px;
	text-align: center;
}

.placeholder {
	visibility: hidden;
}

.selected {
	box-shadow: 0 0 0 2px pink;
}
