.card {
	font-size: 125%;
	box-sizing: border-box;
	height: var(--card-height);
	margin-bottom: var(--card-overlap);
	flex-shrink: 5;
	background-color: white;
	border: 1px solid var(--black);
	border-radius: 5px;
	padding: 2px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);

	display: grid;
	grid-template-rows: auto 1fr;

	user-select: none;
	touch-action: none;
}

.card:last-child { 
	margin: 0;
	flex-shrink: 0;
}

.available {
	cursor: pointer;
}

.connected {
	border-top: none;
	padding-top: 3px;
}

.down {
	background-color: var(--blue);
	margin-bottom: var(--down-overlap);
	flex-shrink: 1;
	font-size: var(--card-width);
}

.empty {
	background-color: unset;
}

.down, .empty {
	box-shadow: none;
}

.red {
	color: var(--red);
}

.squeeze {
	letter-spacing: -0.15em;
	padding-left: 1px;
	padding-right: 1px;
}

.suit {
	font-size: var(--suit-ratio);
	letter-spacing: 0;
}

.icon {
	width: 100%;
}
