:root {
	font: 16px arial;
	line-height: 1;

	--black: #333;
	--red: firebrick;
	--blue: aliceblue;

	--card-width: 45px;
	--card-height: 60px;
	--card-overlap: -35px;
	--down-overlap: -55px;

	--space: 2px;
	--space-xl: 8px;
	--suit-ratio: 234%;
}

body {
	color: var(--black);
	margin: 0;
	background-color: linen;
}

.full-height {
	height: 100%;
}

.viewport-height {
	height: 100vh;
	height: -webkit-fill-available;
}

.overflow-hidden {
	overflow: hidden;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fade {
	opacity: 0.4;
}

.cascade {
	width: var(--card-width);
	display: flex;
	flex-direction: column;
}
